ion-img {
    display: inline-block;
    vertical-align: middle;
    height: 1.5em; 
}

ion-col{
    font-size: .95em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.result :first-child {
    text-align: right;
    
}

.result :last-child {
    text-align: left;
    
}

.date {
    text-align: center;
    font-weight: 200;
    
    color: grey;
}