ion-card{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 210px;
}

img {
    margin: auto;
    padding: 20px;
    width: 90%;
}

ion-card-title {
    margin: auto;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: bold;
}

@media (min-width: 768px) {
ion-card-title {
    font-size: 1.5em;
}
}

@media (min-width: 992px) {
ion-card-title {
    font-size: 1.8em; 
}
}

ion-card-title{
    width: fit-content;
}
  

