img {
    margin: auto;
    padding: 20px;
}

ion-card-title {
    margin: auto;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: bold;
}

/* Cuando el ancho de la pantalla es 768px o más */
@media (min-width: 768px) {
ion-card-title {
    font-size: 1.5em; /* Tamaño de fuente más grande */
}
}

/* Cuando el ancho de la pantalla es 992px o más */
@media (min-width: 992px) {
ion-card-title {
    font-size: 1.8em; /* Tamaño de fuente aún más grande */
}
}
  

