<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="equipos" href="/laliga/equipos">
      <ion-icon aria-hidden="true" name="shield-sharp"></ion-icon>
      <ion-label>Equipos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="partidos" href="/laliga/partidos">
      <ion-icon aria-hidden="true" name="football"></ion-icon>
      <ion-label>Partidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clasificacion" href="/laliga/clasificacion">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Clasificación</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
