<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate="TABS.STANDINGS"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-standings-table></app-standings-table>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="help-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
        <div class="block" [innerHTML]="'STANDINGS.HELP.CONTENT' | translate"></div>
    </ng-template>
  </ion-modal>

</ion-content>
