h1{
    width: fit-content;
    margin:auto;
    color: black;
}

ion-content{
    margin-top: 0px;
}

#team-logo{
    width: 75%;
    margin: auto;
}

ion-card{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
}