<ion-grid [fixed]="true">
  <ion-row class="header"> 
    <ion-col size="4">Club</ion-col>
    <ion-col translate="STANDINGS.TABLE.GP"></ion-col>
    <ion-col translate="STANDINGS.TABLE.W"></ion-col>
    <ion-col translate="STANDINGS.TABLE.D"></ion-col>
    <ion-col translate="STANDINGS.TABLE.L"></ion-col>
    <ion-col translate="STANDINGS.TABLE.GF"></ion-col>
    <ion-col translate="STANDINGS.TABLE.GA"></ion-col>
    <ion-col translate="STANDINGS.TABLE.GD"></ion-col>
    <ion-col translate="STANDINGS.TABLE.PTS"></ion-col>
  </ion-row>
  <ion-row *ngFor="let stat of standings">
    <ion-col size="4">{{stat.team.name}}</ion-col>
    <ion-col>{{stat.all.played}}</ion-col>
    <ion-col>{{stat.all.win}}</ion-col>
    <ion-col>{{stat.all.draw}}</ion-col>
    <ion-col>{{stat.all.lose}}</ion-col>
    <ion-col>{{stat.all.goals.for}}</ion-col>
    <ion-col>{{stat.all.goals.against}}</ion-col>
    <ion-col>{{stat.goalsDiff}}</ion-col>
    <ion-col>{{stat.points}}</ion-col>
  </ion-row>
</ion-grid>
