<ion-grid class="ion-padding">
  <ion-row>
  <ion-searchbar show-clear-button="focus" (ionInput)="onSearch($event)" [(ngModel)]="searchInput"></ion-searchbar>
</ion-row>
  <ion-row class="ion-justify-content-start ion-align-items-end">
    <ion-col size="auto">
      <ion-button id="open-modal" fill="outline" style="margin-right: 0px;">
        <ion-icon name="filter"></ion-icon>
        <ion-label> Filtrar</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-item lines="none" style="margin-left:0px;" *ngIf="hasFilters">
        <ion-button color="light" (click)="onClearFilters()">
          <ion-icon name="close-circle-outline"></ion-icon>  
          <ion-label> Limpiar filtros</ion-label>
        </ion-button> 
      </ion-item>
  </ion-col>
  </ion-row>
</ion-grid>

<ion-modal trigger="open-modal" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="applyFilter()" [strong]="true">Aplicar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" presentation="date" [(ngModel)]="date"></ion-datetime>
          </ng-template>
        </ion-modal>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-list >
  <div *ngFor="let match of matches">
    <ion-item>
      <app-match [match]='match'></app-match>
    </ion-item>
  </div>
</ion-list>

